<h2><center>Week 5 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the fifth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groupsâ€™ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, March 28, 2024.**

<h3 style="text-align:left;">Exercise 1 - Fitbit dataset<span style="float: right">3 points</span></h3>

We will work with three datasets - 'activity.csv', 'calories.csv', and 'last_participant.csv', which contains activity tracker data from https://www.kaggle.com/datasets/arashnic/fitbit

If you are unable to do this exercise, you can load the dataset 'combined_solution.csv' for the next exercise.

1. **Data preparation** (*1 point*)

    - Load the two datasets 'activity.csv' and 'calories.csv'.
    - Use pd.to_datetime to standardize the ActivityDate columns (https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [23]:
###
import pandas as pd
# I have to give the full path of the file otherwise it won't find the file on my device
activity_df= pd.read_csv('/Users/deepa/Desktop/Uni Bern/Datenwissenschaften/data/activity.csv')
calories_df=pd.read_csv('/Users/deepa/Desktop/Uni Bern/Datenwissenschaften/data/calories.csv')
# Convert the ActivityDate column to datetime object
activity_df['ActivityDate']=pd.to_datetime(activity_df['ActivityDate'])
# Convert the ActivityDate column to datetime object
calories_df['ActivityDate']=pd.to_datetime(calories_df['ActivityDate'])
print(activity_df)
print(calories_df)
###

             ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0    1503960366   2016-04-12     13162.0           8.50                1.88
1    1503960366   2016-04-13     10735.0           6.97                1.57
2    1503960366   2016-04-14     10460.0           6.74                2.44
3    1503960366   2016-04-15      9762.0           6.28                2.14
4    1503960366   2016-04-16     12669.0           8.16                2.71
..          ...          ...         ...            ...                 ...
904  8792009665   2016-05-06         NaN           0.00                0.00
905  8792009665   2016-05-07         NaN           0.00                0.00
906  8792009665   2016-05-08         NaN           0.00                0.00
907  8792009665   2016-05-09         NaN           0.00                0.00
908  8792009665   2016-05-10         NaN           0.00                0.00

     ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                        0.55                 6.06                 25
1                        0.69                 4.71                 21
2                        0.40                 3.91                 30
3                        1.26                 2.83                 29
4                        0.41                 5.04                 36
..                        ...                  ...                ...
904                      0.00                 0.00                  0
905                      0.00                 0.00                  0
906                      0.00                 0.00                  0
907                      0.00                 0.00                  0
908                      0.00                 0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes
0                     13                   328
1                     19                   217
2                     11                   181
3                     34                   209
4                     10                   221
..                   ...                   ...
904                    0                     0
905                    0                     0
906                    0                     0
907                    0                     0
908                    0                     0

[909 rows x 10 columns]
             ID ActivityDate  Calories
0    1624580081   2016-04-12    1432.0
1    1624580081   2016-04-13    1411.0
2    1624580081   2016-04-14    1572.0
3    1624580081   2016-04-15    1344.0
4    1624580081   2016-04-16       NaN
..          ...          ...       ...
904  8792009665   2016-05-06    1688.0
905  8792009665   2016-05-07    1688.0
906  8792009665   2016-05-08    1688.0
907  8792009665   2016-05-09    1688.0
908  8792009665   2016-05-10       NaN

[909 rows x 3 columns]

C:\Users\deepa\AppData\Local\Temp\ipykernel_3976\1217023515.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  activity_df['ActivityDate']=pd.to_datetime(activity_df['ActivityDate'])
C:\Users\deepa\AppData\Local\Temp\ipykernel_3976\1217023515.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  calories_df['ActivityDate']=pd.to_datetime(calories_df['ActivityDate'])

2. **Merging** (*1 point*)

    - Consider what information is shared between the two datasets and merge them. Keep in mind that the order of rows is not the same in both datasets!
    - Print out the mean "TotalSteps" of the merged DataFrame at this point.

In [24]:
###
# Merging the two dataframes on their common columns
merged_df=pd.merge(activity_df,calories_df)
print(merged_df)
# Calculate the mean of the TotalSteps column.
print('Mean of TotalSteps in merged_df:', merged_df['TotalSteps'].mean())
###

             ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0    1503960366   2016-04-12     13162.0           8.50                1.88
1    1503960366   2016-04-13     10735.0           6.97                1.57
2    1503960366   2016-04-14     10460.0           6.74                2.44
3    1503960366   2016-04-15      9762.0           6.28                2.14
4    1503960366   2016-04-16     12669.0           8.16                2.71
..          ...          ...         ...            ...                 ...
904  8792009665   2016-05-06         NaN           0.00                0.00
905  8792009665   2016-05-07         NaN           0.00                0.00
906  8792009665   2016-05-08         NaN           0.00                0.00
907  8792009665   2016-05-09         NaN           0.00                0.00
908  8792009665   2016-05-10         NaN           0.00                0.00

     ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                        0.55                 6.06                 25
1                        0.69                 4.71                 21
2                        0.40                 3.91                 30
3                        1.26                 2.83                 29
4                        0.41                 5.04                 36
..                        ...                  ...                ...
904                      0.00                 0.00                  0
905                      0.00                 0.00                  0
906                      0.00                 0.00                  0
907                      0.00                 0.00                  0
908                      0.00                 0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes  Calories
0                     13                   328    1985.0
1                     19                   217       NaN
2                     11                   181    1776.0
3                     34                   209    1745.0
4                     10                   221    1863.0
..                   ...                   ...       ...
904                    0                     0    1688.0
905                    0                     0    1688.0
906                    0                     0    1688.0
907                    0                     0    1688.0
908                    0                     0       NaN

[909 rows x 11 columns]
Mean of TotalSteps in merged_df: 7786.438763376932

3. **Concatenation** (*1 point*)

    - The data of one additional participant exists in 'last_participant.csv'. Load this dataset and concatenate it with the merged dataset generated above
    - Print out the mean "TotalSteps" again

In [25]:
###
last_participant_df=pd.read_csv('/Users/deepa/Desktop/Uni Bern/Datenwissenschaften/data/last_participant.csv')
# Convert the ActivityDate column to datetime object
last_participant_df['ActivityDate']=pd.to_datetime(last_participant_df['ActivityDate'])
# Concatenating this dataframe with the merged_df and fix reapated index with the flag
concatenated_df=pd.concat([merged_df,last_participant_df],ignore_index=True)
print(concatenated_df)
# Calculate the mean of the TotalSteps column in the new concatenated_df.
print('Mean of TotalSteps in concatenated_df:', concatenated_df['TotalSteps'].mean())
###

             ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0    1503960366   2016-04-12     13162.0       8.500000                1.88
1    1503960366   2016-04-13     10735.0       6.970000                1.57
2    1503960366   2016-04-14     10460.0       6.740000                2.44
3    1503960366   2016-04-15      9762.0       6.280000                2.14
4    1503960366   2016-04-16     12669.0       8.160000                2.71
..          ...          ...         ...            ...                 ...
964  8877689391   2016-08-05     10686.0       8.110000                1.08
965  8877689391   2016-09-05     20226.0      18.250000               11.10
966  8877689391   2016-10-05     10733.0       8.150000                1.35
967  8877689391   2016-11-05     21420.0      19.559999               13.22
968  8877689391   2016-12-05      8064.0       6.120000                1.82

     ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                        0.55                 6.06                 25
1                        0.69                 4.71                 21
2                        0.40                 3.91                 30
3                        1.26                 2.83                 29
4                        0.41                 5.04                 36
..                        ...                  ...                ...
964                      0.20                 6.80                 17
965                      0.80                 6.24                 73
966                      0.46                 6.28                 18
967                      0.41                 5.89                 88
968                      0.04                 4.25                 23

     FairlyActiveMinutes  LightlyActiveMinutes  Calories
0                     13                   328    1985.0
1                     19                   217       NaN
2                     11                   181    1776.0
3                     34                   209    1745.0
4                     10                   221    1863.0
..                   ...                   ...       ...
964                    4                   245    2847.0
965                   19                   217    3710.0
966                   11                   224    2832.0
967                   12                   213    3832.0
968                    1                   137    1849.0

[969 rows x 11 columns]
Mean of TotalSteps in concatenated_df: 7879.460599334073

C:\Users\deepa\AppData\Local\Temp\ipykernel_3976\3960149648.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  last_participant_df['ActivityDate']=pd.to_datetime(last_participant_df['ActivityDate'])

<h3 style="text-align:left;">Exercise 2 - Working with missing data<span style="float: right">5 points</span></h3>

In our dataset, some values are missing from the 'TotalSteps' and 'Calories' columns.

We can try to approximate these missing values with the data we got. 

You can load the dataset 'combined_solution.csv' if you were unable to complete the previous exercise.

1. **Filling in missing values** (*3 points*)

    - Calculate the mean steps per calory burnt and mean calories burnt per step, by averaging across all observations in the dataset and then computing the ratio. Print out both values.
    - Fill in the null values in the columns 'Calories' and 'TotalSteps' where possible. To fill the values you have to use the factors *"TotalSteps/Calories"* and *"Calories/TotalSteps"* calculated in the previous point, using one of the two information to fill the other.
    - Print out the mean of the columns 'TotalSteps' and 'Calories' before and after filling the missing values.

In [26]:
###
# Calculate mean steps per calory burnt. Divide the mean of the TotalSteps column by the mean of the Calories column.
mean_steps_per_calory= concatenated_df['TotalSteps'].mean()/concatenated_df['Calories'].mean()
# Calculate mean calories burnt per step. Divide the mean of the Calories column by the mean of the TotalSteps column.
mean_calories_per_step= concatenated_df['Calories'].mean()/concatenated_df['TotalSteps'].mean()
print('Mean steps per calory burnt:', mean_steps_per_calory)
print('Mean calories burnt per step:', mean_calories_per_step)
# Printing the mean of TotalSteps before filling missing values.
print(f'Mean of TotalSteps before filling missing values: {concatenated_df['TotalSteps'].mean()}')
# Printing the mean of Calories before filling missing values.
print(f'Mean of Calories before filling missing values: {concatenated_df['Calories'].mean()}')
# Filling null values in Column Totalsteps with mean_steps_per_calory and calculate the mean of this column after filling.
print(f'Mean of TotalSteps after filling missing values: {concatenated_df['TotalSteps'].fillna(mean_steps_per_calory).mean()}')
# Filling null values in Column Calories with mean_calories_per_step and calculate the mean of this column after filling.
print(f'Mean of Calories after filling missing values: {concatenated_df['Calories'].fillna(mean_calories_per_step).mean()}')



###

Mean steps per calory burnt: 3.4100446727062272
Mean calories burnt per step: 0.29325129022617624
Mean of TotalSteps before filling missing values: 7879.460599334073
Mean of Calories before filling missing values: 2310.661987041037
Mean of TotalSteps after filling missing values: 7326.755297252574
Mean of Calories after filling missing values: 2208.137884216181

2. **Dropping missing values** (*2 points*)

    - Print how many null values there are in the 'Calories' and 'TotalSteps' columns, respectively.
    - Drop the rows where **both** 'Calories' and 'TotalSteps' are missing.
    - Print number of rows in the final dataset.

In [27]:
###
# Print the number of null values in the columns Calories
print(f'Number of null values in column Calories: {concatenated_df['Calories'].isnull().sum()}')
# Print the number of null values in the columns TotalSteps
print(f'Number of null values in column TotalSteps: {concatenated_df['TotalSteps'].isnull().sum()}')
# Drop rows with null values in the columns Calories and TotalSteps. inplace=True will update the original dataframe otherwise it will create a copy.
concatenated_df.dropna(subset=['Calories','TotalSteps'],inplace=True)
# Print the number of rows after dropping rows with null values in the columns Calories and TotalSteps
print(f'Number of rows in the final dataset: {len(concatenated_df)}')
###

Number of null values in column Calories: 43
Number of null values in column TotalSteps: 68
Number of rows in the final dataset: 871

<h3 style="text-align:left;">Exercise 3 - Multi-index<span style="float: right">7 points</span></h3>

In this exercise you will create and manipulate a multi-index dataframe. First, let's create the dataframe for the exercise:

In [28]:
import pandas as pd

df = pd.DataFrame(
    {
        "idx": [0, 1, 2],
        "A_X": [1.1, 1.1, 1.1],
        "A_Y": [1.2, 1.2, 1.2],
        "B_X": [1.11, 1.11, 1.11],
        "B_Y": [1.22, 1.22, 1.22],
    }
)

1. Set the column *idx* as the index of the dataframe. (*1 point*)

In [29]:
###
# setting idx as the index of the dataframe
df.set_index('idx',inplace=True)
print(df)
###

     A_X  A_Y   B_X   B_Y
idx
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

2. Create a multi-column stucture. (*3 points*)
    - Set the columns *A, B* on the first level and *X, Y* on the second level, taken from the combinations in the original dataframe. 
    - Set the names of the two new levels as "L1" and "L2", respectively. 
    - Print the resulting dataframe.

In [30]:
###
# creating a multiindex from the columns of the dataframe
columns=pd.MultiIndex.from_product([['A', 'B'], ['X', 'Y']], names=['L1', 'L2'])
# setting the multiindex as the columns of the dataframe
df.columns=columns
print(df)

###

L1     A          B
L2     X    Y     X     Y
idx
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

3. From the previous dataframe, re-create a dataframe with a single column level. (*3 points*)
    - Create a new column from the first level (L1) of the multi-column. At this point your columns should be ['L1', 'X', 'Y'], with name 'L2'. **NB** The DataFrame method *reset_index* is useful for this part.
    - Rename the newly-created column as "letter" and the name of the column level as "L". Use the appropiate pandas methods for this.
    - Print the resulting dataframe.

In [31]:
###
# get the first Level values and set them as the new column names
df.columns= df.columns.get_level_values(0)
# reset the index of the dataframe
df.reset_index(inplace=True)
# name the column to letter
df.rename(columns={'idx': 'letter'}, inplace=True)
# name the column level to L
df.rename_axis('L', axis=1, inplace=True)
print(df)

###

L  letter    A    A     B     B
0       0  1.1  1.2  1.11  1.22
1       1  1.1  1.2  1.11  1.22
2       2  1.1  1.2  1.11  1.22